<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Display header page</title>
</head>
<body>

<section class='container'>
          <hgroup>
            <h2>Headers sent to me:</h1>
          </hgroup>

{{env}}

</section>

<p>

<section class='container'>
        <div class="row">
          <section class='col-xs-12 col-sm-6 col-md-6'>
            <section>
             
                <footer>  
                  <a href="./">Return to the main page</a>
                </footer>

			</section>
	     </section>
       </div>
</section>			

</body>
</html>
